<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finalproject.homesecurity">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="finalproject.homesecurity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="finalproject.homesecurity.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_security_camera"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="finalproject.homesecurity" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DecisionActivity"
            android:theme="@style/NoActionBar"></activity>
        <!-- <activity -->
        <!-- android:name=".RecordActivity"> -->
        <!-- </activity> -->
        <activity
            android:name=".MotionDetectionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Image"></activity>
        <activity
            android:name=".PersonalDeviceActivity"
            android:theme="@style/NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".StreamingActivity"></activity>
        <activity
            android:name=".RecordVideoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45d182a30a8d7d1a15928444c4797ec7612a6bbd" />
    </application>

</manifest>
